#!powershell

$env:APP_VERSION=""
$env:DOCKER_CONTAINER_NAME=""
$env:DOCKER_IMAGE_NAME=""

$env:SERVER_HOST="0.0.0.0"
$env:SERVER_PORT=9090

$env:TFS_PROJECT=""
$env:TFS_URL=""
$env:TFS_USER_TOKEN=""
