#!/bin/bash

export APP_VERSION=$(git for-each-ref refs/tags --sort=-taggerdate --format='%(refname)' --count=1 | awk '{split($0,a,"/"); print a[3]}')
export DOCKER_CONTAINER_NAME=""
export DOCKER_IMAGE_NAME=""
export DOCKER_REGISTRY="docker-registry.toroinvestimentos.com.br"
export DOCKER_REGISTRY_LOGIN=""
export DOCKER_REGISTRY_PASSWORD=""

export SERVER_HOST=0.0.0.0
export SERVER_PORT=9090

export TFS_PROJECT=""
export TFS_URL=""
export TFS_USER_TOKEN=""
